@charset "utf-8";

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('ttf');
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('ttf')
}

/* 
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Chad Williams
   Date:  9.7.18
   
   Filename: lake_styles.css
*/
/* Header Styles */
/* Structural Styles */
html {
    background-color: #ffffff;
}

body {
    background-color: cornsilk;
    font-family: Dobkin, sans-serif;
}

/* Blockquote Styles */
/* Navigation Styles */
nav#main_nav a {
    background-color: skyblue;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    color: aliceblue;
}

nav {
    background-color: skyblue;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

/* Footer Styles */
footer {
    text-align: center;
    text-decoration: none;
}

footer>em {
    font-style: normal;
    font-family: Champagne, sans-serif;
    font-size: 2.4em;
}

/* Section Styles */
section#rightcol h2 {
    color: #233250;
}